@inherits LayoutComponentBase

<div class="page">
    <nav class="sidebar">
        <NavMenu />
    </nav>

    <main class="main">
        <div class="content px-4">
            @Body
        </div>
    </main>
</div>
