@page "/"

@if (_todoRecords is null)
{
    <p>Loading todo's...</p>
}
else
{
    foreach (var todoRecord in _todoRecords)
    {
        <TodoCard 
            @key="@todoRecord.Id" 
             TodoRecord="@todoRecord" 
             OnCheckboxTicked="@(async id => await ToggleTodoCompletedStatusAsync(id))" />
        <hr/>
    }
}

@code{

    private IEnumerable<TodoRecord> _todoRecords;

    [Inject]
    public HttpClient ApiClient { get; set; } = null!;

    protected override async Task OnInitializedAsync()
    {
        _todoRecords = await ApiClient.GetFromJsonAsync<IEnumerable<TodoRecord>>("api/todos");
    }

    private async Task ToggleTodoCompletedStatusAsync(int todoId)
    {
        var request = new HttpRequestMessage(HttpMethod.Post, $"api/todos/{todoId}/toggleCompletedStatus");
        await ApiClient.SendAsync(request);
    }

}
