@page "/jot"

<div>
    <h3 class="d-inline-block m-0">Jot it down</h3>
    <button class="btn btn-dark pb-1 pt-1 pl-3 pr-3 mt-n3" @onclick="ClearCanvasAsync"><span class="oi oi-reload"></span></button>
</div>

<div class="d-inline-block border"
     @ref="@_canvasWrapperElement"
     @onmousedown="SetMouseDownState"
     @onmouseup="ResetState"
     @onmousemove="UpdateMouseCoordinatesAsync"
     @ontouchmove="UpdateTouchCoordinates"
     @ontouchend="ResetState" >

    <BECanvas Height="@CanvasHeight" Width="@CanvasWidth" @ref="@CanvasReference"></BECanvas>
</div>
